<% if notice %>
  <p class="alert alert-success" style="width: 95%"><%= notice %></p>
<% end %>
<h2>Log in</h2>
<%= form_with(url: login_path, local: true) do |f| %>
  <div class="field col-md-4">
    <%= f.label :email%>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter email address" %>
    <%= f.label :password%>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %>
    <br><%= f.submit "Log in", class: "btn btn-primary" %>   
  </div>   
<% end %>