<h2>Sign Up</h2>

<%= form_for(@resource, html: { method: :post }) do |f| %>
  <div class="field col-md-4">
    <%= f.label :email %><br/>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter email address"%><br/>
    <%= f.label :password %><br/>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter password" %><br/>
    <%= f.label :password_confirmation %><br/>
    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Enter password again" %><br/>
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  </div>
<% end %>
