<div class="row">
  <% @resources.each do |resource| %>
    <div class="col-md-4" style="padding-top: 20px">
      <% if resource.avatar.attached? %>
        <%= image_tag url_for(resource.avatar) , :class => "img_preview"%>
      <% else %>
        <%= image_tag(ActionController::Base.helpers.asset_path("default"), :class => "img_preview")%>
      <% end %>
      <div>
        <p><%= resource.name%></p>
        <p>&nbsp;<%= resource.price%></p>
        <div class="addtocart-btn"><%= button_to "Add to cart", orders_path(product_id: resource.id)%></div>
      </div>
    </div>
  <% end %>
</div>