<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ECommerceApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <b><%= link_to "E-Buying", root_path, class: "navbar-brand" %></b>    
        </div>
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to "Logout", 'sign_out' %></li> 
            <li><%= link_to "Add New Product", new_product_path %></li> 
          <% else %>
            <li><%= link_to "Sign up", new_user_path %></li>
            <li><%= link_to "Log In", 'login' %></li> 
          <% end %>
          <% if cart_has_items? %>
            <li>
              <%= link_to orders_path do%>
                <i class="fa fa-shopping-cart"></i>
                Cart&nbsp;<%= cart_count_over_one%></li>
              <% end %>
          <% end %> 
        </ul> 
        <% if cart_has_items? %>
          <%= button_to "Checkout", 'checkout', class: "btn btn-primary navbar-right navbav-checkout"%>
        <% end %>
      </div> 
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
